{
  "env": {
    "mocha": true
  },
  "extends": "eslint:recommended",
  "rules": {
      "indent": [
          "error",
          2
      ],
      "linebreak-style": [
          "error",
          "windows"
      ],
      "quotes": [
          "error",
          "double"
      ],
      "semi": [
          "error",
          "never"
      ],
      "eqeqeq": [
        "error",
        "allow-null"
      ],
      "no-console": [
        "error",
        { "allow": ["log", "warn", "error"] }
      ],
      "curly":
        "error"
      ,
      "default-case":
        "error"
      ,
      "no-empty-function":
        "error"
      ,
      "no-loop-func":
        "error"
      ,
      "no-param-reassign":
        "error"
      ,
      "no-redeclare":
        "error"
      ,
      "no-return-assign": [
        "error",
        "always"
      ],
      "no-unused-expressions":
        "error"
      ,
      "vars-on-top":
        "error"
      ,
      "yoda":
        "error"
      ,
      "strict":
        "error"
      ,
      "init-declarations": [
        "error",
        "always"
      ],
      "global-require":
        "error"
      ,
      "no-mixed-requires":
        "error"
      ,
      "camelcase":
        "error"
      ,
      "comma-spacing": [
        "error",
        {"before": false, "after": true }
      ],
      "eol-last":
        "error"
      ,
      "keyword-spacing":
        "error"
      ,
      "no-lonely-if":
        "error"
      ,
      "no-spaced-func":
        "error"
      ,
      "no-trailing-spaces":
        "off"
      ,
      "object-property-newline":
        "error"
      ,
      "one-var": [
        "error",
        "never"
      ],
      "space-in-parens": [
        "error",
        "always",
        { "exceptions": ["empty", "{}"] }
      ],
      "no-duplicate-imports":
        "error"
      ,
      "no-var":
        "error"
      ,
      "prefer-const":
        "error"
      ,
      "key-spacing": [
        "error",
        { "align": "colon" }
      ],
      "no-multi-spaces":
        "off"
      ,
      "no-unused-vars":
        "warn"
      ,
      "no-unexpected-multiline":
        "error"
      ,
      "no-unreachable":
        "error"

  }
}
